---
import Hero from "./Hero.astro";
import Navigation from "./Navigation.astro";
import SocialLinks from "./SocialLinks.astro";
---

<!-- Left side - Header/Navigation area -->
<header
  class="lg:sticky lg:top-0 lg:flex lg:max-h-screen lg:w-1/2 lg:flex-col lg:justify-between lg:py-24"
>
  <div>
    <Hero />
    <Navigation />
  </div>

  <SocialLinks />
</header>
